*{
    margin: 0px;
    font-family: Helvetica, sans-serif;
    background-color: #F8F8F8;
}

.container{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    width: 90%;
    margin-left: 20px;
}
#four.container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 90%;
    margin-left: 20px;
}
#three.container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 90%;
    margin-left: 20px;
}
#two.container{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 90%;
    margin-left: 20px;
}
#one.container{
    display: grid;
    grid-template-columns: 100%;
    width: 90%;
    margin-left: 20px;
}
.container > div{
    border: 1px solid #979797;
}
form{
    margin-left: 20px;
    border: 3px solid #979797;
    width: 150px;
    padding: 20px;
}
form > input{
    margin-right: 10px;
}
#header-name{
    padding: 20px;
    font-size: 20px;
    font-weight: bolder;
}
#header-plan{
    padding: 20px;
    font-size: 20px;
    font-weight: bolder;
}
#header-forecast{
    padding: 20px;
    font-size: 20px;
    font-weight: bolder;
}
#header-best{
    padding: 20px;
    font-size: 20px;
    font-weight: bolder;
}
#header-monthly{
    padding: 20px;
    font-size: 20px;
    font-weight: bolder;
}
#header-commit{
    padding: 20px;
    font-size: 20px;
    font-weight: bolder;
}
#header-comments{
    padding: 20px;
    font-size: 20px;
    font-weight: bolder;
}
span:hover{
    color: blue;
}

#header-name:hover{
    cursor: pointer;
}
#header-plan:hover{
    cursor: pointer;
}
#header-forecast:hover{
    cursor: pointer;
}
#header-best:hover{
    cursor: pointer;
}
#header-commit:hover{
    cursor: pointer;
}

.dropdown{
    background-color: white;
    position:absolute;
    right: 8%;
    top: 190px;
    display: none;
    padding: 10px;
    box-shadow: 5px 5px 20px;
    z-index: 1;
}
#form{
    padding: 0px;
    margin: 0px;
    border: 0px;
}
.name{
    padding: 20px;
}
.plan{
    padding: 20px;
}
.forecast{
    padding: 20px;
}
.best{
    padding: 20px;
}
.monthly{
    padding: 20px;
}
.commit{
    padding: 20px;
}
.comments{
    padding: 20px;
}
.apply{
    font-size: 20px;
    width: 100%;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5AC192
}


@media (max-width: 1000px){
    span {
        font-size: 15px;
    }
    div{
        font-size: 12px;
    }
    .dropdown{
        top: 210px;
    }
}